.main-container {
  width: 45%;
  margin: 0 auto;
}
.about-paragraph {
  font-size: 20px;
}
.about-heading {
  font-size: 30px;
  text-align: center;
}

.shop-image {
  height: 300px !important;
  display: block;
  margin: 0 auto;
}
