.heading {
  text-align: center;
}
.restaurant-paragraph {
  width: 75%;
  display: block;
  margin: auto;
  padding: 10px;
  font-size: 20px;
}
.restaurant-image {
  height: 70vh;
  display: block;
  margin: 0 auto;
}
